
body{
  margin:0;
  text-align: center;
font-family: 'Merriweather Sans', sans-serif;
font-color:#40514E;

}

h1{
  font-size: 5em;
  margin: 50px auto  auto;
font-family: 'Sacramento', cursive;
color: #66BFBF
}

h2{
  font-size: 2rem;
  color: #66BFBF;
  padding-bottom: 5px;
}

h3{
  color: #11999E
}
a{
  color: #11999E;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.Top-container{
  background-color: #E4F9F5;
  padding-top: 100px;
  background-color: #E4F9F5;
}
.middle-container{
margin: 50px 0;
background-color:white;
}


.bottom-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-cloud{
  position: absolute;
  left: 300px;
  bottom:200px;
}
.tushar{
  width: 150px;
  height: 150px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.webd{
  width: 30%;
  height: 160px;
  float:left;
  margin-right: 30px;
}
.snooker{
  width: 30%;
  height: 160px;
  float:right;
}
hr{
  width: 4%;
  border: dotted #66BFBF;
  border-bottom: none;
 margin: 50px auto;

}

.bottom-container{
width: 100%;
height:100px;
background-color:#66BFBF;
padding-top: 50px;
}
.j{
  color: #EAF6F6;
}
.contact-me{
  margin-bottom:50px;
}

.contact-messgae{
  width:30%;
  margin:40px auto 60px;
    line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
}
